Repository fraserbrookhouse/task_monster, pull requests merged in 2020-10, with the labels that each got.

#18 Backend auth
  backend/app/controllers/application_controller.rb
  backend/app/controllers/tasks_controller.rb
  backend/app/controllers/users/registrations_controller.rb
  backend/app/controllers/users/sessions_controller.rb
  backend/app/models/user.rb
  backend/config/routes.rb
  backend/spec/requests/registrations_request_spec.rb
Labels: Backend

#22 Stored email and token in state, sent email and token in headers when…
  backend/app/controllers/users/registrations_controller.rb
  backend/config/routes.rb
  frontend/components/Auth/signUp.js
  frontend/components/Tasks/addingTask.js
  frontend/components/index.js
  frontend/context.js
Labels: Frontend

#32 Swipe list
  .yarn-integrity
  frontend/components/Tasks/addingTask.js
  frontend/components/Tasks/completeTask.js
  frontend/components/Tasks/taskList.js
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
Labels: Frontend

#34 Edit delete
  frontend/components/Tasks/addTask.js
  frontend/components/Tasks/completeTaskButton.js
  frontend/components/Tasks/deleteTaskButton.js
  frontend/components/Tasks/editTask.js
  frontend/components/Tasks/taskList.js
  frontend/components/index.js
  frontend/yarn.lock
Labels: Frontend

#42 Frontend for task list and uncompleted tasks list
  frontend/components/Auth/signUp.js
  frontend/components/Tasks/addTask.js
  frontend/components/Tasks/completedTaskList.js
  frontend/components/Tasks/taskList.js
Labels: Frontend

#41 Rspec travis
  .travis.yml
  backend/.rspec
  backend/config/mongoid.yml
  backend/spec/models/task_spec.rb
  backend/spec/rails_helper.rb
  backend/spec/spec_helper.rb
  backend/test/channels/application_cable/connection_test.rb
  backend/test/controllers/.keep
  backend/test/controllers/tasks_controller_test.rb
  backend/test/fixtures/.keep
  backend/test/fixtures/files/.keep
  backend/test/fixtures/tasks.yml
  backend/test/fixtures/users.yml
  backend/test/integration/.keep
  backend/test/mailers/.keep
  backend/test/models/.keep
  backend/test/models/task_test.rb
  backend/test/models/user_test.rb
  backend/test/test_helper.rb
Labels: Backend

#43 Timer
  backend/app/controllers/tasks_controller.rb
  backend/app/models/task.rb
  frontend/components/Auth/signUp.js
  frontend/components/Tasks/addTask.js
  frontend/components/Tasks/editTask.js
  frontend/components/Tasks/taskHelpers.js
  frontend/components/Tasks/taskList.js
  frontend/context.js
  frontend/package-lock.json
  frontend/package.json
  frontend/yarn.lock
Labels: Frontend

#48 Added score to task, set to 0 when created, if completed button press…
  backend/app/controllers/tasks_controller.rb
  backend/app/models/task.rb
  frontend/components/Tasks/addTask.js
  frontend/components/Tasks/completeTaskButton.js
  frontend/components/Tasks/completedTaskList.js
  frontend/components/Tasks/taskHelpers.js
  frontend/components/Tasks/taskList.js
Labels: Backend, Frontend

#51 Fail task btn added, completed and not completed tasks displayed in d…
  frontend/components/Tasks/completedTaskList.js
  frontend/components/Tasks/taskList.js
Labels: Frontend

#53 Game
  frontend/components/Game/assets/ground.png
  frontend/components/Game/assets/monster.png
  frontend/components/Game/game.js
  frontend/components/Game/src/components/Floor.js
  frontend/components/Game/src/components/Monster.js
  frontend/components/Game/src/entities/index.js
  frontend/components/Game/src/systems/index.js
  frontend/components/Game/src/systems/monster.js
  frontend/components/Game/src/systems/physics.js
  frontend/components/Game/src/utils/styleSheet.js
  frontend/components/Tasks/completedTaskList.js
  frontend/components/Tasks/taskHelpers.js
  frontend/components/Tasks/taskList.js
  frontend/components/index.js
  frontend/context.js
  frontend/package-lock.json
  frontend/package.json
Labels: Frontend

#64 Added more monster sprites, added function to change sprite based on …
  frontend/components/Game/assets/monster.png
  frontend/components/Game/assets/monster0.png
  frontend/components/Game/assets/monster1.png
  frontend/components/Game/assets/monster2.png
  frontend/components/Game/assets/monster3.png
  frontend/components/Game/assets/monster4.png
  frontend/components/Game/game.js
  frontend/components/Game/src/components/Monster.js
  frontend/package-lock.json
  frontend/package.json
Labels: Frontend

#63 The monster is walking around
  frontend/components/Game/game.js
  frontend/components/Game/src/entities/index.js
  frontend/components/Game/src/systems/monster.js
  frontend/components/index.js
Labels: Frontend

#67 Del bnt
  frontend/components/Tasks/addTask.js
  frontend/components/Tasks/completeTaskButton.js
  frontend/components/Tasks/completedTaskList.js
  frontend/components/Tasks/datePicker.js
  frontend/components/Tasks/deleteTaskButton.js
  frontend/components/Tasks/taskList.js
  frontend/components/Tasks/uncompleteTaskButton.js
  frontend/context.js
Labels: Frontend

#87 Errors are displayed to the user
  frontend/components/Auth/logIn.js
  frontend/components/Auth/signUp.js
  frontend/components/Tasks/completedTaskList.js
  frontend/components/Tasks/taskList.js
Labels: Frontend
